.named h1{
  animation: fade1 2s ease forwards;
}

@keyframes fade1 {
  from{
    opacity: 0;
    /* transform: translateY(100px); */
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

body::-webkit-scrollbar{
  width: 8px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color: rgb(59, 59, 59);
}
body::-webkit-scrollbar-thumb{
  border-radius: 20px;
}

.fullhome .tech .show-section,.fullhome .experience .show-section{
  opacity: 1;
  transform: translateX(0);
}
.fullhome .tech p,.fullhome .experience p{
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}