.stack .stack1 p,.stack .stack2 p{
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
.stack .stack2 p{
  border-color: rgb(27, 27, 27);
}
.stack .stack1 .show-section,.stack .stack2 .show-section{
  opacity: 1;
  transform: translateY(0);
}