@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sfpro1";
  src: url('./fonts/SFPRODISPLAYREGULAR.OTF')format('opentype');
}
@font-face {
  font-family: "sfpro2";
  src: url('./fonts/SFPRODISPLAYMEDIUM.OTF')format('opentype');
}
@font-face {
  font-family: "roobert";
  src: url('./fonts/RoobertTRIAL-Light-BF67243fd502239.otf')format('opentype');
}

body {
  margin: 0;
  font-family: "roobert",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
